<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% if auth == False %}
<a href="https://neutralmike.ru/webim-test/vk-auth/" class="btn btn-dark">Авторизоваться</a>
{% else %}
<span>Вы:<a href="http://vk.com/{{self.domain}}">{{self.first_name}} {{self.last_name}}</span><br/></a>
<span>Ваши друзья:</span><br/>
{% for i in friends %}
<a href="https://vk.com/{{i.domain}}">{{i.first_name}} {{i.last_name}}<br/></a>
{% endfor %}
{% endif %}
</body>
</html>